.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1rem;
    height:320px;
    width:340px;
    border-radius: 1rem;
    box-sizing: border-box;
    margin:1rem;
    background-color: rgb(245, 245, 245);
}

#container-product , #container-cart{
    display: flex;  
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;  
}




